

<div class="topnav" id="myTopnav">
    <a class="active">Aplicativo PX</a>
    <div class="options">
        <a href="/pacientes/add">Nueva entrada Historia Clínica</a>
        <n style="color: white">|</n>
        <a href="/pacientes/">Pacientes</a>
    </div>
</div>