<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Historia Clínica</title>

</head>

<body>



  <%- include('header') %>





      <h1>Detalle de paciente:</h1>
      <br>
      <h2>Datos personales</h2>
      <br>
      <p><b>Nombre y Apellido:</b> Lucas Banegas</p>
      <p><b>DNI:</b> 37.783.367</p>
      <p><b>Domicilio:</b> Av. Belgrano 400</p>
      <p><b>Dato:</b> Completar</p>
      <p><b>Dato:</b> Completar</p>
      <p><b>Dato:</b> Completar</p>
      <p><b>Dato:</b> Completar</p>


 <div class="buttonDetallePaciente"> 
       <a href="/pacientes/edit/1" style="text-decoration: none; color: white"> <button>Editar datos</button></a>
      <a href="/pacientes/hc/1" style="text-decoration: none; color: white"><button> Ver historia clínica</button></a>
    </div>

</body>




</html>