<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Nuevo paciente</title>
</head>
<body>

  <%- include('header') %>


  <div class="contenedorFormNuevoPaciente">
  <h1>Nuevo paciente</h1>

   
  <form action="/pacientes/nuevo-paciente" method="post" autocomplete="off" class="formNuevoPaciente">
    <label for="nombre">Nombre y apellido:</label><br>
    <input type="text" id="nombreyapellido" name="nombreyapellido"><br><br>

    <label for="fechaNacimiento">Fecha de Nacimiento:</label><br>
    <input type="date" id="fechaNacimiento" name="fechaNacimiento"><br><br>

    <label for="documento">Documento:</label><br>
    <input type="text" id="documento" name="documento"><br><br>

    <label for="domicilio">Domicilio:</label><br>
    <input type="text" id="domicilio" name="domicilio"><br><br>

    <label for="nucleoFamiliar">Núcleo Familiar:</label><br>
    <input type="text" id="nucleoFamiliar" name="nucleoFamiliar"><br><br>

    <label for="telefono">Teléfono:</label><br>
    <input type="tel" id="telefono" name="telefono"><br><br>

    <label for="telefonoAlternativo">Teléfono Alternativo:</label><br>
    <input type="tel" id="telefonoAlternativo" name="telefonoAlternativo"><br><br>

    <label for="antecedentesFamiliares">Antecedentes Familiares:</label><br>
    <textarea id="antecedentesFamiliares" name="antecedentesFamiliares"></textarea><br><br>

    <label for="antecedentesPersonales">Antecedentes Personales:</label><br>
    <textarea id="antecedentesPersonales" name="antecedentesPersonales"></textarea><br><br>

    <label for="motivoConsulta">Motivo de Consulta:</label><br>
    <textarea id="motivoConsulta" name="motivoConsulta"></textarea><br><br>

    <label for="obraSocial">Obra Social:</label><br>
    <input type="text" id="obraSocial" name="obraSocial"><br><br>

    <button class="last" type="submit">Añadir paciente</button>
</form>

</div>
</body>

</html>
