
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Nueva consulta</title>
</head>
<body>
  <%- include('header') %>

  
  <br>
  <h1>Nueva entrada</h1>
  <br>
  <div class="agregarPaciente">


  <form action="/pacientes/add" method="post" autocomplete="off">
    <label for="px">Paciente:</label>
    <select id="px" name="px" required>
      <% resultados.forEach(paciente => { %>
        <option value="<%= paciente.idpaciente %>">
          <%= paciente.nombreyapellido %> |  <%= new Date(paciente.fecha).toLocaleDateString('es-ES', { day: '2-digit' , month: '2-digit' ,
          year: '2-digit' }) %>
        </option>
      <% }); %>

    </select>
    


    <label for="fecha" >Fecha de consulta:         </label>
    <input type="date" id="fecha" name="fecha">

    <br>




    <label for="comentario">Comentario: --- </label>
    <textarea id="comentario" name="comentario" required></textarea>
    <br>

    

    <br>


    <button class="last" type="submit">Agregar</button>
  </form>

  </div>

</body>

</html>
