
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/home.css">
  <link rel="stylesheet" href="/index.css">

  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap" rel="stylesheet">
  <title>Nueva consulta</title>
</head>
<body>
  <%- include('header') %>

  <br>
  <br>  <h1>Lista de Pacientes</h1>
    
  <br>
  <table class="tablaPacientes">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Historia Clínica</th>
        <th>Editar usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Juan</td>
        <td>Pérez</td>
        <td>123-456-7890</td>
        <td>▶</td>
        <td>▶</td>

      </tr>
      <tr>
        <td>Marta</td>
        <td>Gómez</td>
        <td>987-654-3210</td>
        <td>▶</td>
        <td>▶</td>
      </tr>
      <tr>
        <td>Carlos</td>
        <td>Fernández</td>
        <td>456-789-0123</td>
        <td>▶</td>
        <td>▶</td>
      </tr>
    </tbody>
  </table>

</body>

</html>
