<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/home.css">

  <title>Lista de Pacientes</title>
</head>

<%- include('header') %>



<body>
  <h1>Lista de Pacientes</h1>
    
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</body>
</html>
