/* Estilos base comunes a todas las pantallas */
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilo para la tabla de pacientes */
  table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #ffffff;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #5f92bd; /* Color de fondo de la cabecera (uno de tus tonos de azul) */
    color: #ffffff; /* Texto blanco para la cabecera */
  }
  
  tbody tr {
    background-color: #f8f8f8;
  }
  
  tbody tr:hover {
    background-color: #e0e0e0;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  /* Estilos para la sección de añadir productos (si es necesario) */
  .addProduct form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
  }
  
  #nuevoPaciente {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  input {
    width: 100%;
    text-align: center;
    height: 30px;
  }
  
  select {
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .subtitle {
    color: #1e1e1f;
    background-color: #f5f5f5;
  }
  
  #comentario {
    height: 440px;
    width: 500px;
  }
  
  /* Estilos específicos para pantallas grandes (PC) */
  @media only screen and (min-width: 200px) {
    header {
      padding: 1.1rem 5rem;
    }
  
    .brand a {
      font-size: 1.5rem;
    }
  
    li > a {
      font-size: 1.2rem;
    }
  }
  